site_name: ゆかコネ｜リアルタイム字幕・翻訳ツール
site_description: 音声認識と翻訳で多言語配信を支援する「ゆかコネNEO」の公式ガイド
site_author: nao
copyright: Copyright &copy; 2020 -  N,Mori/*nao*
theme:
  name: material
  language: ja
  locale: ja
  separator: '[\s\-\.]+'
  logo: images/logo.png
  favicon: images/favicon.png
  features:
    - content.tabs.link
    - navigation.instant
    - navigation.tabs
    - navigation.top
    - navigation.section
    - navigation.footer
    - navigation.indexes
    - navigation.tracking
    - search.highlight
    - search.suggest
    #- toc.integrate
  font:
    code: Roboto Mono
  palette:
    - media: "(prefers-color-scheme)"
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-auto
        name: ライトモードに切り替えます。
    - media: "(prefers-color-scheme: light)"
      primary: blue
      accent: blue
      scheme: default      
      toggle:
          #icon: material/toggle-switch-off-outline
          icon: material/brightness-7 
          name: ダークモードに切り替えます。
    - media: "(prefers-color-scheme: dark)"            
      primary: blue
      accent: blue
      scheme: slate
      toggle:
          #icon: material/toggle-switch
          icon: material/brightness-4 
          name: オートモードに切り替えます。
extra:
  search:
    language: 'ja'
  analytics:
    provider: google
    property: G-8VEJJC6B3D
  social:
    - icon: fontawesome/brands/twitter
      link: https://x.com/yncneo
  generator: true
markdown_extensions:
  - abbr
  - tables
  - attr_list
  - md_in_html
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.magiclink
  - codehilite
  - pymdownx.emoji
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences    
  - pymdownx.tilde
  - pymdownx.highlight
  - toc:
      permalink: true
  - pymdownx.tabbed:
      alternate_style: true      
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - codehilite:
      noclasses: true
      pygments_style: colorful
      linenums: true
extra_css:
    - "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
    - css/extra.css
plugin:
  - git-revision-date-localized
  - meta-descriptions  
  - search
  - glightbox
  - meta-descriptions:
      export_csv: false
      quiet: false
      enable_checks: false
      min_length: 50
      max_length: 160
nav:
    - ゆかコネ▼:
      - TOP: 'index.md'
      - ゆかコネとは: 'about_ync.md'
      - できること: 'spec.md'
      - ダウンロード: 'download.md'
      - 利用者の声: 'usecase.md'
      - 利用規約: 'system_info.md'
      - ライセンス表記: 'licensing.md'
      - よくある質問 : 'qa/faq.md'
    - カンタンな使い方▼:
      - 使い方ガイド:
        - ゆかコネでできること : 'guide/start.md'
        - 5分クイックスタート : 'guide/quickstart.md'
      - はじめての設定 : 'cs/cs_startup.md'
      - 英語字幕を出す方法:
        - 無料で英語翻訳を出す : 'cs/cs_en.md'
        - 支援版で高品質翻訳 : 'cs/cs_en_sp.md'
      - 配信で使う:
        - 配信ソフトに取り込む : 'cs/cs_import_obs.md'
        - OBSできれいに出す: 'cs/cs_obs.md'
      - VR連携:
        - VRChatのチャットとつなぐ : 'cs/cs_vrchat.md'
      - 他サービス連携:
        - わんコメとの連動 : 'cs/cs_onecomme.md'
        - ゆかりねっとと繋ぐ : 'cs/cs_yukari.md'
        - たぬえさ３を呼び出す : 'cs/cs_tanu3.md'
      - コラボ字幕 :
        - Discord経由でコラボ: 'cs/cs_colab_discord.md'
        - UDトーク経由でコラボ: 'cs/cs_colab_udtalk.md'
        - 画面共有でコラボ: 'cs/cs_colab_rd.md'
      - 便利な使い方:  
        - StreamDeckで操作する : 'cs/cs_streamdeck.md'
        - AIアシスタントを作る : 'cs/cs_aiassistant.md'
        - わんコメテンプレートを使う : 'cs/cs_onetemplate.md'    
    - ドキュメント▼:
      - 設定について:
        - 標準設定項目: 'startup/startup_basic.md'      
        - オプション設定: 'startup/startup_option.md'
        - レイアウト: 'startup/startup_layout.md'
        - GASの設定: 'startup/startup_gas.md'
        - 音声認識できないとき: 'startup/startup_asr.md'
      - 支援について:
        - 支援の概要: 'support/support_summary.md'
        - 支援の仕方: 'support/support_howto.md'
        - 支援機能の有効化: 'support/support_enabled.md'    
      - 設計思想と仕組み:
        - 言葉の精度向上方法: 'design/talk_quality.md'
        - プラグインの動作 : 'design/plugin_rule.md'
      - プラグイン:
        - 一覧: 'plugin/index.md'  
        - 有効化 : 'plugin/enabled.md'  
        - 読み上げ:    
          - 棒読みちゃん連携: 'plugin/plugin_bouyomi.md'
          - Softalk読み上げ: 'plugin/plugin_softalk.md'
          - 読み上げ : 'plugin/plugin_playvoice.md'
        - サウンド:
          - 動画再生 : 'plugin/plugin_MediaPlayer.md'      
          - 音源再生 : 'plugin/plugin_playsound.md'
        - 認識の修正や変換:
          - 辞書 : 'plugin/plugin_dictionary.md'
          - 正規表現 : 'plugin/plugin_regexp.md'
          - ノムリッシュ変換 : 'plugin/plugin_nomlish.md'
          - 文字変換 : 'plugin/plugin_ConvertString.md'
          - 強制整形 : 'plugin/plugin_forcestyle.md'
          - ルビ付与 : 'plugin/plugin_ruby.md'
          - ゆかコネ互換 : 'plugin/plugin_viewcompat.md'
          - GPT3整形/AIアシスタント : 'plugin/plugin_GPT3.md'
        - 表示関連:
          - 内蔵ブラウザ: 'plugin/plugin_browser.md'
          - 歌詞支援 : 'plugin/plugin_LyricAssist.md'
          - フォト読み込み : 'plugin/plugin_photopickup.md'
          - 表示拡張(スタンプ) : 'plugin/plugin_viewextend.md'
          - 色の変更(β) : 'plugin/plugin_regexp_color.md'
          - 遅延 : 'plugin/plugin_delay.md'
        - Windows連携:
          - クリップボード連携: 'plugin/plugin_clipboard.md'
          - MIDI入力 : 'plugin/plugin_midiinput.md'
          - ホットキー : 'plugin/plugin_hotkey.md'
        - 配信（OBS・コメント):
          - コメジェネ連携: 'plugin/plugin_commentgen.md'
          - 配信ソフト向けテキスト出力 : 'plugin/plugin_OBSFile.md'
          - OBS連携 WSv4（～OBS27) : 'plugin/plugin_OBS.md'
          - OBS連携 WSv5（OBS28～) : 'plugin/plugin_OBS5.md'
        - アプリ連携:
          - わんコメテンプレ連携 : 'plugin/plugin_OCTemplateGen.md'
          - わんコメ連携 : 'plugin/Plugin_OCComm.md'
          - VaNiiツール連携 : 'plugin/plugin_vanii.md'
          - VRオーバーレイ : 'plugin/plugin_vroverlay.md'
          - ばもきゃ連携 : 'plugin/plugin_vmc.md'
          - MTGカード支援 : 'plugin/plugin_MTGCard.md'
          - VTubeStudio連携 : 'plugin/plugin_VtubeStudio.md'
        - プラットフォーム連携:
          - clusterウェブトリガ : 'plugin/plugin_cluster_wtrig.md'
          - clusterチャット転送 : 'plugin/plugin_clustertransfer.md'
          - バーチャルキャスト連携 : 'plugin/plugin_vcas.md'
          - VRChat OSC連携: 'plugin/plugin_vrchat_osc.md'
          - NeosVR 連携: 'plugin/plugin_neosvr.md'
          - Discord BOT連携 : 'plugin/plugin_dicord.md'
          - Discord Webhook連携 : 'plugin/plugin_dicordwebhook.md'
          - Notion連携 : 'plugin/plugin_notion.md'
          - Twitchチャット連携: 'plugin/plugin_twitch.md'
          - YouTube Live字幕送信: 'plugin/plugin_youtube.md'
          - YouTube タイムコード生成 : 'plugin/plugin_youtubetimecode.md'
          - ZOOM連携 : 'plugin/plugin_zoom.md'
          - Slack Webhook連携 : 'plugin/plugin_slackwebhook.md'
          - Teams Webhook連携 : 'plugin/plugin_teamswebhook.md'
          - コメントスクリーン連携 : 'plugin/plugin_comscr.md'
        - API・ツール拡張:
          - 翻訳・発話連携 : 'plugin/plugin_transSrv.md'
          - HTTPコール : 'plugin/plugin_httpcall.md'
          - WebSocketコール : 'plugin/plugin_wscall.md'
          - UDP通信 : 'plugin/plugin_udpunit.md'
          - ファイル出力 : 'plugin/plugin_exporter.md'
          - 会話の記録 : 'plugin/plugin_talkhistory.md'
          - Python連携: 'plugin/plugin_pythonunit.md'
        - つかいやすさ向上:
          - 直接入力: 'plugin/plugin_directinput.md'
          - 入力支援 : 'plugin/plugin_InputAssist.md'
          - 起動支援 : 'plugin/plugin_startup.md'
          - アップデート通知 : 'plugin/plugin_update.md'
      - システムVerUP:
        - ゆかコネ→NEO : 'mig/mig_neo.md'
        - NEO v1.9→v2.0 : 'mig/mig_neo_v2.md'
        - NEO v2.0→v2.1 : 'mig/mig_neo_v21.md'
        - NEO v2.1→v2.2 : 'mig/mig_neo_v22.md'
        - NEO v2.2→v2.3 : 'mig/mig_neo_v23.md'
      - 技術者向け:
        - 起動オプション : 'tech/tech_option_neo.md' 
        - 本体内蔵API : 'tech/tech_api_neo.md'
        - プラグイン系API : 'tech/tech_api_plugin.md'
      - 開発履歴 : 'qa/history.md'
      - 支援者 : 'fanbox_supporter/supporter.md'
    - メンバー▼:
      - 活動メンバー: 'ambasador/ambasador_member.md'
      - 卒業メンバー: 'ambasador/ambasador_expired.md'
      - 開発サイド: 'supporter/supporter.md'
      - 協力者 : 'qa/collaborator.md'
      - 活動レポート: 'ambasador/ambasador_report.md'
    - 困ったときは▼:
      - ヘルプが欲しいとき : 'qa/before_help.md'
      - 再インストール : 'qa/reinstall.md'
      - 不具合を発見した時 : 'qa/report.md'
      - こんなときは : 'qa/troubleshooting.md'
      - わんコメ連携できない時 : 'qa/ts_onecomme.md'
      - サポートレベル表 : 'qa/support_lv.md'
    - AIエージェント向け▼:
      - 検索インデックス : 'ai_docs/index.md'
      - トラブルシュート : 'ai_docs/faq_troubleshoot.md'
      - プラグイン : 'ai_docs/plugins_reference.md'
      - クイックスタート : 'ai_docs/quickstart_scenarios.md'
      - 設定 : 'ai_docs/setting_reference.md'
      - GUI : 'ai_docs/ync_neo_gui_reference.md'
