body header.md-header.md-header--shadow nav.md-header__inner.md-grid a.md-header__button.md-logo img {
    width: 200px;
    height: 60px;
}

body header.md-header nav.md-header__inner.md-grid a.md-header__button.md-logo img {
    width: 200px;
    height: 60px;
}