on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - run: python -m pip install pipenv
      - run: python -m pipenv lock
      - run: python -m pipenv sync --dev
      - run: python -m pipenv run mkdocs build
      - run: cp google28874255ae63c5b1.html ./site
      - uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          external_repository: nmori/yncneo-Docs
          publish_branch: master
          publish_dir: ./site
